/*-------  ここから共通のCSS  --------*/
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family:'Hiragino Kaku Gothic ProN W3', sans-serif;
}

/*-------  ここまで共通のCSS  --------*/
header
{
  width:100%;
  height:50px;
  line-height:50px;
  border-bottom:solid 1px #eee;
  background-color:white;
  position:absolute;
}

header .content
{
  width:1170px;
  margin:0 auto;
  font-weight:bold;
}

header .logo
{
  float:left;
  font-size:18px;
  color:#777;
}

header .navi
{
  float:right;
}
header .navi li
{
  float:left;
  padding-left:20px;
}
header .navi li a
{
  color:#323a45;
}
header .navi li a:hover
{
  color:#0dc0c0;
}

.topContentOverRay
{
  width:100%;
  top:50px;
  position:absolute;
  z-index:-2;
  background-color:rgba(0,0,0,0.6);
  height:525px;
}
.toopContentImgWrapper
{
  background-image:url("https://s3-ap-northeast-1.amazonaws.com/progate/shared/images/lesson/html/practice/backgrounds/top.jpg");
  height:575px;
  width:100%;
  top:0px;
  background-size:cover;
  position:absolute;
  z-index:-3;
}
.topContentWrapper
{
  width:100%;
  height:575px;
  z-index:-1;
}
.topContentWrapper .content .logo
{
  text-align:center;
}
.topContentWrapper .content .logo h1
{
  font-size:48px;
  padding-bottom:30px;
  padding-top:220px;
  color:white;
  font-weight:normal;
}
.topContentWrapper .content .logo p
{
  font-size:18px;
  padding-bottom:40px;
  color:rgba(255,255,255,0.8);
}
.topContentWrapper .content .logo a
{
  padding: 10px 20px 10px 20px;
  border:solid 1px rgba(250,250,250,0.15);
  color:white;
  font-size:20px;
  background-color:rgba(250,250,250,0.06);
}

.mainContentWrapper
{
  width:1170px;
  height:500px;
  margin:0 auto;
}
.mainContentWrapper .content
{
  width:60%;
  padding-top:80px;
  margin:0 auto;
}
.mainContentWrapper .content .navi
{
  text-align:center;
  padding-bottom:10px;
  font-size:32px;
  color:#555;
}
.mainContentWrapper .content .lesson
{
  padding-top:40px;
  width:50%;
  float:left;
  text-align:center;
}
.mainContentWrapper .content .lesson img
{
  padding-bottom:20px;
}
.mainContentWrapper .content .lesson h1
{
  padding-bottom:10px;
  font-weight:normal;
  color:#555;
  font-size:18px;
}
.mainContentWrapper .content .lesson p
{
  color:#888;
  font-size:15px;
}
.mainContentWrapper .content .bottom
{
  padding-bottom:80px;
}

.mainContent_second
{
  clear:both;
}
.mainContent_second .overRay_gray
{
  background-color:#f4f4f4;
  height:376px;
}
.mainContent_second .overRay_gray p
{
  padding-top:80px;
  text-align:center;
  font-size:40px;
}
.mainContent_second img
{
  top:1430px;
  position:absolute;
  left:0px;
  right:0px;
  margin: auto;
}
.mainContent_second .textContentsWrapper
{
  width:1170px;
  margin:0 auto;
}
.mainContent_second .textContentsWrapper .textContents
{
  padding-top:130px;
  width:90%;
  margin:0 auto;
}
.mainContent_second .textContentsWrapper .textContents h1
{
  color:#555;
  font-size:18px;
}
.mainContent_second .textContentsWrapper .textContents p
{
  font-size:14px;
  color:#888;
}
.mainContent_second .textContentsWrapper .textContents .content
{
  width:45%;
}
.mainContent_second .textContentsWrapper .textContents .top
{
  padding-bottom:70px;
}
.mainContent_second .textContentsWrapper .textContents .bottom
{
  padding-bottom:70px;
}
.mainContent_second .textContentsWrapper .textContents .left
{
  float:left;
}

.mainContent_second .textContentsWrapper .textContents .right
{
  float:right;
}

.mainContentTherd
{
  clear:both;
  width:100%;
  background-color:#f4f4f4;
}
.mainContentTherd .navi
{
  padding-top:80px;
  padding-bottom:30px;
  text-align:center;
  font-size:35px;
}

.mainContentTherd .menus
{
  padding:0 14px;
  width:1140px;
  margin:0 auto;
}
.mainContentTherd .menus .menuWrapper
{
  width:31%;
  display:inline-block;
  margin-bottom:100px;
  box-shadow:1px 2px rgba(0,0,0,0.2);
}
.mainContentTherd .menus .left
{
  
}
.mainContentTherd .menus .center
{
  margin-left:35px;
}

.mainContentTherd .menus .right
{
  float:right;
}
.mainContentTherd .menus .menuWrapper
{
  width:31%;
}
.mainContentTherd .menus .menuWrapper .menu
{
  padding:15px 15px 0px 15px;
  background-color:white;
  text-align:center;
  
}
.mainContentTherd .menus .menuWrapper .menu .course
{
  padding:30px 10px;
  font-size:24px;
  
  color:white;
}
.mainContentTherd .menus .left .menu .course
{
  background-color:#323a45;
}
.mainContentTherd .menus .center .menu .course
{
  background-color:#0dc0c0;
}
.mainContentTherd .menus .right .menu .course
{
  background-color:#323a45;
}
.mainContentTherd .menus .menuWrapper .menu .value
{
  padding:30px 10px;
  font-size:28px;
  background-color:#f0f0f0;
}
.mainContentTherd .menus .menuWrapper .menu .menuNavi p
{
  padding:45px 0px 25px;
  margin:0 30px;
  font-size:16px;
  color:gray;
  border-bottom:solid 1px gray;
}

.mainContentTherd .menus .menuWrapper .menu .menuNavi .middle
{
  padding:25px 0px;
}
.mainContentTherd .menus .menuWrapper .menu .menuNavi .bottom
{
  padding:25px 0px;
}

.mainContentTherd .menus .menuWrapper .menu .appButton a
{
  display:inline-block;
  color:white;
  margin: 40px 0px;
  padding:10px 20px;
  font-size:18px;
  background-color:#323a45;
  
}
.mainContentTherd .menus .menuWrapper .menu .appButton a:hover
{
  color:white;
}




.mainContentForce
{
  text-align:center;
  padding-top:80px;
}

.mainContentForce .anser
{
  color:#555;
  font-size:30px;
}

.radius
{
  border-radius:75px;
  height:150px;
  width:150px;
}

.mainContentForce .students
{
  padding-top:50px;
  padding-bottom:20px;
}
.mainContentForce .students .student p
{
  font-size:15px;
  color:#888;
  padding-top:20px;
  padding-bottom:50px;
}


.facebookMessageWrapper
{
  background-image:url("https://s3-ap-northeast-1.amazonaws.com/progate/shared/images/lesson/html/practice/backgrounds/night_view.jpg");
  background-size:cover;
}
.facebookMessageWrapper p
{
  background-color:rgba(0,0,0,0.6);
  color:white;
  text-align:center;
  padding:150px 0;
  font-size:23px;
}


.columnWrapper
{
  background-color:#f4f4f4;
  width:100%;
}
.columnWrapper .content
{
  width:1170px;
  margin:0 auto;
}

.columnWrapper .title
{
  color:#555;
  text-align:center;
  padding-top:80px;
  padding-bottom:20px;
}

.columnWrapper .content .menu
{
  width:100%;
  text-align:center;
  padding-bottom:40px;
}
.columnWrapper .content .menu .btn
{
  display:inline-block;
  margin-left:5px;
  padding:8px 10px;
  background-color:white;
  
}
.columnWrapper .content .menu .left
{
  background-color:#009ca8;
  color:white;
}

.columnWrapper .images .imageWrapper img
{
  width:97%;
  padding-top:7px;
  padding-left:7px;
}
.columnWrapper .images .imageWrapper
{
  width:40%;
  background-color:white;
}

